<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>adv-dy-compoment</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="root">
    <ul>
      <li @click="handleNavClick('comp')">组件</li>
      <li @click="handleNavClick('content')">内容</li>
    </ul>
    <div v-if="isShow">
      <ul>
        <li @click="handleClick(value)" v-for="value,key in comps">{{key}}</li>
      </ul>
      <component :is="currentComp"></component>
    </div>
    <div v-if="!isShow">content</div>
  </div>
  <script type="module" src="./app.js"></script>
</body>
</html>